.article {
  background-color: #202020;
  border-left: 20px solid #303030;
  border-right: 20px solid #303030;
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.12);
  width: 80%;
  margin: 0 auto;
  margin-top: 180px;
}

.article h1 {
  font-size: 4rem;
  font-weight: bold;
  color: #eee;
  margin-bottom: 18px;
  text-align: center;
}

.article h2 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #bbb;
  margin-top: 22px;
  margin-bottom: 12px;
}

.article p {
  font-size: 1rem;
  line-height: 1.7;
  color: #ccc;
  margin-bottom: 16px;
}

.article-image,
.article-section-image {
  display: block;
  max-width: 1600px;
  max-height: 1200px;
  margin: 12px auto;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.13);
  object-fit: cover;
}

.article-tags {
  margin-top: 18px;
  text-align: center;
}
.article-tag {
  display: inline-block;
  background: #444;
  color: #fff;
  border-radius: 4px;
  padding: 3px 10px;
  margin: 0 4px;
  font-size: 0.95em;
}