:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.774);
  background-color: #202020;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 300vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.nav-container {
  position: relative; /* Creates a single stacking context */
  z-index: 0;
}

.header-container {
  position: relative; /* Creates a shared stacking context */
  z-index: 0; /* Default stacking context */
}


