.navbar-container {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px; 
    height: auto;
}

.nav-logo {
    width: 160px;
    padding-left: 0px;
    margin-top: 50px;
    margin-bottom: 25px;
}


.header-navbar {
    height: 120px;
    background-color: #303030;
    padding: 0px 0px 20px 15px;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.header-divider {
    position: fixed; 
    top: 140px;
    width: 100%;
    height: 10px;
    left: 0;
    background-color: #faedcd;
    z-index: 997;
}

.register-button {
    background-color: none;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    margin-right: 18px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

.register-button:hover {
    background-color: none;
}

.nav-links {
    display: flex;
    gap: 50px;
    margin-left: auto;
    margin-right: 120px;
    margin-top: 68px;
    padding: 20px;
    height: 20px;
    align-items: left;
}

.home-link {
    display: flex;
    gap: 20px;
    margin-left: auto;
    margin-right: 20px;
    padding: 20px;
    height: 20px;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
}

.nav-links a:visited {
    color: #ffffff;
}

.nav-links a:hover {
    text-decoration: underline;
}