.articles-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 0;
    padding-bottom: 30px;
}

.articles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    transition: transform 0.5s ease-in-out;
    width: 100%; 
}

.frontpage-article-link {
  display: flex;
  flex: 0 0 23%;
  max-width: calc(25% - 20px);
  margin: 2% 1% 1% 1%;
  height: auto;
  text-decoration: none;
  color: inherit;
}

.frontpage-article {
    padding: 15px;
    box-sizing: border-box;
    background-color: #303030;
    color: #ffffff;
    border-radius: 10px;
    border-color: rgb(66, 66, 66);
    border-width: 1px;
    border-style: solid;
}


/* Article Preview Styles */

.article-preview-content {
    padding: 0px 0; 
    margin-top: 10px; 
    border-top: 1px solid #444; 
}

.article-preview-image.container {
    position: relative;
    width: 100%;
    height: 150px;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 5px;
}

.article-preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 10px;
    border-radius: 5px;
}

.article-preview-title {
    font-family: Merriweather, sans-serif;
    font-size: 1.5rem;
    color: #ffffff;
    margin-top: 10px;
    margin-left: 8px;
    margin-bottom: 5px;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-align: left;
    padding: 0px 0; 
}

.article-preview-author-date {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: 5px;
    margin-bottom: 2px;
}

.article-preview-author {
    font-family: Merriweather, sans-serif;
    font-size: 1.2rem;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 0.06em;
}

.article-preview-author-label {
  color: #888;
  font-weight: normal;
  margin-right: 4px;
}

.article-preview-date {
    font-family: Lato, sans-serif;
    font-size: 1.1rem;
    color: #929292;
    font-weight: normal;
    letter-spacing: 0.02em;
}

.article-preview-info-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 10px;
    justify-content: space-between;
    margin-top: 2px;
    margin-bottom: 5px;
    padding: 0 2px;
}

.article-preview-info-container p {
    margin: 0;
    white-space: nowrap; 
    font-size: 0.8rem; 
}

.article-preview-comments {
    color: #929292;
    margin-top: 2px;
    margin-bottom: 5px;
}

.article-preview-mentions {
    color: #929292;
    margin-top: 2px;
    margin-bottom: 5px; 
}


.article-preview-rating {
    color: #929292;
    margin-top: 2px;
    margin-bottom: 5px; 
}

.article-preview-evalProfile {
    color: #929292;
    margin-top: 2px;
    margin-bottom: 5px; 
}

.article-preview-text {
    font-family: Merriweather, sans-serif;
    font-size: 1rem;
    color: #ffffff;
    line-height: 1.5;
}


/* End of Article Preview Styles */


.nav-button {
    background-color: #2E4A34; 
    opacity: 0.8;
    color: #ffffff;
    border: 1px solid  #3A5A40;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    z-index: 10;
}

.nav-button:hover {
    background-color: #3A5A40;
    opacity: 1;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

.nav-button.left {
    margin-right: 10px;
}

.nav-button.right {
    margin-left: 10px;
}