/* Hamburger Icon */
.hamburger-icon {
    position: fixed;
    top: 90px; 
    right: 30px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1300; /* Ensure it is above the sidebar and navbar */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 25px;
}

.hamburger-icon .bar {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    transition: all 0.3s ease;
}

.sidebar {
    display: flex; 
    flex-direction: column; 
    background-color: #303030; 
    height: calc(100vh - 140px); /* Adjust height to fit below the header */
    width: 150px; 
    position: fixed; 
    top: 140px; 
    right: 0; /* Align to the right edge of the screen */
    z-index: 998; 
    transform: translateX(0); /* Default position */
    border-left: 10px solid #faedcd;
    border-top: none;
    border-bottom: none;
    transition: transform 0.3s ease; /* Smooth transition */
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    background-color: #303030;
    padding: 20px;
}

.sidebar-text {
    font-family: Lato, sans-serif;
    font-size: 1.2em;
    color: #ffffff;
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bold;
    letter-spacing: 0.1em;
}

/* Decorative toggle-sidebar-button */
.toggle-sidebar-button {
    position: fixed;
    top: 140px; 
    right: 0px; 
    height: 20px; 
    background-color: #344E41;
    z-index: 1100; /* Ensure it is above other elements but below the hamburger icon */
    transition: left 0.3s ease, width 0.3s ease; /* Smooth transition for sliding and resizing */
    border: none;
    width: 185px; 
}

/* Add the triangle using a pseudo-element */
.toggle-sidebar-button::after {
    content: '';
    position: absolute;
    top: 50%; /* Center the triangle vertically */
    left: -20px; /* Position the triangle slightly outside the button */
    transform: translateY(-50%); /* Adjust for vertical centering */
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 10px; 
    border-color: transparent #344E41 transparent transparent; 
    transition: transform 0.3s ease;
    z-index: 1200; 
}

/* When the sidebar is collapsed */
.sidebar.hidden {
    transform: translateX(100%); /* Move the sidebar off-screen to the left */
}

.toggle-sidebar-button.hidden {
    right: 0px;
    width: 20px; /* Shrink the button to a small square */
}