.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tabs button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #7e7e7e;
  cursor: pointer;
  font-size: 14px;
}

.tabs button.active-tab {
  background-color: #3A5A40;
  color: white;
  border-color: #588157;
}

.tab-content {
  margin-bottom: 20px;
}

.editor-input {
  min-height: 200px;
  min-width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  text-align: left !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
}