.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    align-items: center;
    gap: 5px; 
    margin-bottom: 10px;
  }
  
  .toolbar button {
    padding: 4px 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #7c7c7c;
    cursor: pointer;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px; 
    height: 30px; 
  }
  
  .toolbar button:hover {
    background-color: #e0e0e0;
  }
  
  .toolbar button:active {
    background-color: #d0d0d0;
  }
  
  .toolbar button svg {
    width: 16px;
    height: 16px;
  }